save-exact = true
save-prefix = ""
disturl=https://npmmirror.com/mirrors/node
registry=https://registry.npmmirror.com
# Fix puppeteer https://github.com/puppeteer/puppeteer/issues/1597#issuecomment-351945645
puppeteer-download-host=https://cdn.npmmirror.com/binaries


# 私服
@wmeimob:registry=http://47.103.40.50:3200
